.experience-container{
    background-color: rgba(255, 255, 255, 0.79);
    padding: 20px;

    color: black;
    margin-top: 30px;
}


.projects-tittle-h2{
    font-weight: bold;
    font-size: 2rem;
    margin-bottom: 10px;

}

.real-projects-title{

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

}
.real-projects-title h2{
    margin-bottom: 5px;
    padding-bottom: 5px;
    border-bottom: black solid 1px;
    width: 80%;
}

.real-projects-disclaimer{
    padding: 30px
}

.practice-projects-title{
    text-align: center;
}