.project-card{
    text-align: center;

    padding:  10%;


}


.project-card h6{
    font-size: 2rem;
    border-bottom: black solid;
    padding-bottom: 10px;
}

.project-card h3{
    font-size: 1.3rem;
    text-transform: capitalize;
}

.image-container{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.image-container img{


    width: 70%;
    border-radius: 10px;
    transition: all 1s ease;

}
.image-container img:hover{


    width: 90%;
    border-radius: 0;

}

.project-description{
    margin-top: 20px;
    padding: 10%;
}

.group-container-characteristics{

    margin: 10px;
}

.features-and-tech-container{
    margin-top: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.links{

    /*background-color: red;*/
    display: flex;
    justify-content: center;
}

.link-container{
    /*background-color: #0074D9;*/
    margin: 10px;
    font-size: 2rem;
}
