.skills-container{
    background-color: #131834;
    text-align: center;
    padding: 10%;

    margin-top: 30px;

    color: white;

}

.skills-container>h1{
    font-weight: bold;
    font-size: 2rem;
    margin-bottom: 10px;
}
.skills-container p{
    margin: 30px;
}
.main-skills-container i{

    transition: all 0.3s ease;
}



.main-skills-tittle{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10px;
}
.main-skills-tittle h1{
    border-bottom: white solid 1px;
}

.ext-icon{
    width: 40px;

}
.ext-icon img{
    width: 100%;
    margin: auto;
}

.main-skills-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.icon-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.secondary-skills{
    margin: 20px;
}

.skill-box{
    margin: 10px;
}


.redux-skill{
    margin-top: 20px;
}
#Javascript-skill i:hover{
    color: #EFD81D;
    cursor: pointer;
}

#React-skill i:hover{
    color: #5ED3F3;
    cursor: pointer;
}


#Css-skill i:hover{
    color: #31A4D5;
    cursor: pointer;
}

#Html-skill i:hover{
    color: #DD4B25;
    cursor: pointer;
}

.skill-box a:visited{
    color: white;
}



/*.main-skills-container i:hover{*/
/*    color: yellow;*/
/*    cursor: pointer;*/
/*}*/

