
*{
    scroll-behavior: smooth;

}
html{
    background-color: #03183b;
}


button{
    border: white solid 1px;
}

body{
    background-color: rgba(12, 2, 2, 0.42) !important;
    /*box-sizing: border-box;*/
    /*overflow: hidden;*/
}

section{
    /*backdrop-filter: blur(20px);*/
    width: 100%;
    padding: 10%;
}


ul{
    text-align: left;
}


li{
    list-style: none;
}

a:link {
    text-decoration: none;
}

a:visited{
    text-decoration: none;
}
a:active{
    text-decoration: none;
}
