.welcome{
    text-align: center;
    background-color: rgba(4, 4, 5, 0.79);

    backdrop-filter: blur(13px);
    text-align: center;
    padding: 50px;
    margin-top: 9vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    color: white;

    border-bottom: white solid 1px;
}

.welcome h1{
    padding-bottom: 10px;

    border-bottom: white solid 1px;
    font-weight: bold;
    margin-bottom: 30px;
}

.welcome-description p{
    text-align: justify-all;
}


.experience-container h2{
    text-align: center;
}